<template>
  <section class="container">
    <codemirror v-model="code" :options="editorOptions" ref="textEditor" @cursorActivity="showInfo"></codemirror>
  </section>
</template>

<script>
  export default {
    methods: {
      showInfo (editor) {
        this.current_line = this.$refs.textEditor.editor.getCursor().line + 1
        this.current_column = this.$refs.textEditor.editor.getCursor().ch + 1
      }
    },
    data () {
      return {
        viewMode: 'edit',
        keyMode: 'default',
        indentMode: {
          useTab: false,
          spaces: 4
        },
        current_line: 1,
        current_column: 1,
        code: 'Welcome to UniMD!\n\n## How we built this app:\n * Vue\n * Swoole\n * Laravel\n\n> Feel free to send pull requests!',
        editorOptions: {
          // codemirror options
          tabSize: 4,
          indentWithTabs: false,
          mode: 'text/x-markdown',
          // theme: 'base16-dark',
          // // sublime、emacs、vim三种键位模式，支持你的不同操作习惯
          keyMap: 'default'
          // // 按键映射，比如Ctrl键映射autocomplete，autocomplete是hint代码提示事件
          // extraKeys: { "Ctrl": "autocomplete" },
          // // 代码折叠
          // foldGutter: true,
          // gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
          // // 选中文本自动高亮，及高亮方式
          // styleSelectedText: true,
          // highlightSelectionMatches: { showToken: /\w/, annotateScrollbar: true },
          // more codemirror config...
          // 如果有hint方面的配置，也应该出现在这里
        }
      }
    }
  }
</script>
